.hidden {
  display: none;
}


.success {
  background-color: lightgreen;
  border: 2px solid green;
  color: green;
}

.error {
  background-color: lightcoral;
  border: 2px solid red;
  color: red;
}

.warning {
  background-color: lemonchiffon;
  border: 2px solid yellow;
  color: yellow;
}